@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    background: #eee;
    color: #222;
}

header {
    border-bottom: 2px solid #c7c7c7;
    background: #dadada;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header > * {
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
    padding: 0 20px;
}

h3#site-name, h3#site-name > i {
    font-size: 23px;
    font-weight: 100;
}

header > #right-buttons {
    float: right;
}

header a, header button {
    text-decoration: none;
    color: #1867f9;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    line-height: 1em;
    background: #c5c5c5;
    transition: all ease-in 0.1s;
    cursor: pointer;
}

header a:hover, header button:hover {
    background: #666;
    color: #9dc0ff;
}

header a > i.fa {
    margin-right: 5px;
}

header input[name="search_phrase"] {
    padding: 2px 10px;
    border: 2px solid transparent;
    transition: all ease-in 0.3s;
}

header input[name="search_phrase"]:focus {
    border-color: #1867f9;
}

div#content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 110px 0 50px;
}

.question-list > .question,
.answer-list > .answer {
    margin-top: 30px;
    position: relative;
    padding-left: 30px;
    min-height: 60px;
}

.question-list > .question:first-child,
.answer-list > .answer:first-child {
    margin-top: 0;
}

.question-list > .question > .votes,
.answer-list > .answer > .votes {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    bottom: 0;
    text-align: center;
}

.question-list > .question > .votes > *,
.answer-list > .answer > .votes > * {
    display: block;
}

.question-list > .question > .votes > .count,
.answer-list > .answer > .votes > .count {
    font-weight: 500;
    font-size: 1.3em;
}

.question-list > .question > .votes > a,
.answer-list > .answer > .votes > a {
    color: black;
    transition: all ease-in 0.1s;
    display: inline-block;
}
.question-list > .question > .votes > a.active,
.answer-list > .answer > .votes > a.active {
    color: #1867f9;
}

.question-list > .question > .votes > a.up:hover,
.answer-list > .answer > .votes > a.up:hover {
    transform: translateY(-5px);
}
.question-list > .question > .votes > a.down:hover,
.answer-list > .answer > .votes > a.down:hover {
    transform: translateY(5px);
}

.question-list > .question > .name,
.answer-list > .answer > .name {
    display: block;
}

.question-list > .question > .name > *,
.answer-list > .answer > * {
    font-size: 0.8em;
    color: #777;
}

.question-list > .question > .name > .title,
.answer-list > .answer > .name > .title {
    display: block;
    font-size: 1.4em;
    text-decoration: none;
    font-weight: 100;
    color: #1867f9;
}

.question-list > .question > .name > .id,
.answer-list > .answer > .name > .id {
    margin-right: 7px;
}

.question-list > .question > .name > .id:before,
.answer-list > .answer > .name > .id:before {
    content: '#';
}

.question-list > .question > .message,
.answer-list > .answer > .message {
    padding: 10px;
    background: white;
    border: 1px dashed #b7b7b7;
    margin-top: 5px;
}

.comments {
    padding-left: 30px;
}

.comments > a.new-comment {
    margin: 10px 0;
    display: block;
    text-decoration: none;
    color: #1867f9;
    margin-left: -30px;
}

.comments > a.new-comment > i.fa {
    margin-right: 5px;
}

.comments > .comment > .name > .title {
    text-decoration: none;
    font-size: 0.8em;
    color: #1867f9;
    margin-left: 10px;
}

.comments > .comment > .name > *:not(.title) {
    font-size: 0.8em;
    color: #666;
}

.comments > .comment {
    position: relative;
    margin-bottom: 5px;
}

.comments > .comment:last-child {
    margin-bottom: 0;
}

.comments > .comment .operations {
    position: absolute;
    right: 5px;
    top: 5px;
}

.comments > .comment .message {
    font-size: 0.9em;
    background: white;
    padding: 6px;
    margin-top: 5px;
    border: 1px dashed #c3c3c3;
}

.comments > .comment .operations > a {
    color: #1867f9;
    margin-right: 5px;
}

.comments > .comment .operations > a:last-child {
    margin-right: 0;
}

h2.answer-title {
    margin-top: 30px;
    font-size: 1.5em;
    font-weight: 100;
    text-align: center;
}

form.add-edit > div {
    margin-top: 10px;
}

form.add-edit > div:first-child {
    margin-top: 0;
}

form.add-edit > div > * {
    display: block;
}

form.add-edit > div > input, form.add-edit > div > textarea {
    width: 100%;
    padding: 20px;
}

form.add-edit button {
    display: block;
    margin-top: 10px;
    padding: 10px 0;
    width: 100%;
    background: #c5c5c5;
    color: #1867f9;
    font-weight: bold;
    cursor: pointer;
}

form.add-edit label {
    font-size: 1.3em;
    font-weight: 100;
    margin-bottom: 5px;
}