<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Question {{ question_id }}</title>

</head>
<body>
    <h2>Title</h2>
        <p>{{ title }}</p>
    <h3>Message</h3>
        <p>{{ message }}</p>
    <hr>
    <h2>Answers:</h2>
    <table style="width:100%">
        <tr>
            {% for item in answers[0] %}
            <th align="left">{{ item }}</th>
            {% endfor %}
        </tr>
        {% for answer in answers[1:] %}
        <tr>
            {% for item in answer %}
                <td>{{ item }}</td>
            {% endfor %}
                <td><a href="/answer/{{ answer[0] }}/delete">Delete answer</a></td>
                <td><a href="/answer/{{ answer[0] }}/vote_up">Vote up</a></td>
                <td><a href="/answer/{{ answer[0] }}/vote_down">Vote down</a></td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <h3> Options:</h3>
        <a href="/question/{{ question_id }}/new-answer">Add new answer</a><br>
        <a href="/question/{{ question_id }}/delete">Delete question</a><br>
        <a href="/question/{{ question_id }}/edit">Edit question</a><br>
        <a href="/">Home</a>
</body>
</html>