{% extends "template_client.html" %}
{% block title %}Home{% endblock %}
{% block headerbutton %}
    {% for item in question %}
    {% if user != False %}
        <a href="/question/{{ item.id }}/new-answer"><i class="fa fa-plus"></i>Add new answer</a>
        <a href="/question/{{ item.id }}/delete"><i class="fa fa-trash"></i>Delete question</a>
        <a href="/question/{{ item.id }}/edit"><i class="fa fa-pencil"></i>Edit question</a>
    {% endif %}
    {% endfor %}
    <a href="/"><i class="fa fa-list"></i>Home</a>
{% endblock %}

{% block wrappercontent %}
{% for item in question %}
<div class="question-list">
    <div class="question">
        <div class="votes">
            {% if user != False %}<a class="votes up {% if item.user_vote == 1 %}active{% endif %}" href="/question/{{ item.id }}/vote_up"><i class="fa fa-arrow-up"></i></a>{% endif %}
            <span class="count">{{ item.vote_number }}</span>
            {% if user != False %}<a class="votes down {% if item.user_vote == -1 %}active{% endif %}" href="/question/{{ item.id }}/vote_down"><i class="fa fa-arrow-down"></i></a>{% endif %}
        </div>
        <label class="name">
            <span class="id">{{ item.id }}</span>
            <span class="date">{{ item.submission_time }}</span>
            <a class="title" href="/question/{{ item.id }}">{{ item.title }}</a>
        </label>
        <div class="message">{{ item.message }}</div>
        <div class="comments">
            <a class="new-comment" href="/question/{{ item.id }}/new-comment"><i class="fa fa-plus"></i>New comment</a>
            {% for comment in question_comments %}
                <div class="comment">
                    <label class="name">
                        <span class="id">{{ comment.id }}</span>
                        <span class="date">{{ comment.submission_time }}</span>
                        <a class="title" href="/user/{{ comment.id }}">{{ comment.email }}</a>
                        <div class="operations">
                            <a href="/comment/{{ comment.id }}/edit"><i class="fa fa-pencil"></i></a>
                            <a href="/comment/{{ comment.id }}/delete"><i class="fa fa-trash"></i></a>
                        </div>
                    </label>
                    <div class="message">{{ comment.message }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<h2 class="answer-title">Answers:</h2>
<div class="answer-list">
    {% for answer in answers %}
    <div class="answer">
        <div class="votes">
            {% if user != False %}<a class="votes up {% if answer.user_vote == 1 %}active{% endif %}" href="/answer/{{ answer.id }}/vote_up"><i class="fa fa-arrow-up"></i></a>{% endif %}
            <span class="count">{{ answer.vote_number }}</span>
            {% if user != False %}<a class="votes down {% if answer.user_vote == -1 %}active{% endif %}" href="/answer/{{ answer.id }}/vote_down"><i class="fa fa-arrow-down"></i></a>{% endif %}
        </div>
        <label class="name">
            <span class="id">{{ answer.id }}</span>
            <span class="date">{{ answer.submission_time }}</span>
        </label>
        <div class="message">{{ answer.message }}</div>
        <div class="comments">
            <a class="new-comment" href="/answer/{{ answer.id }}/new-comment"><i class="fa fa-plus"></i>New comment</a>
            {% for comment in answer_comments %}
                <div class="comment">
                    <label class="name">
                        <span class="id">{{ comment.id }}</span>
                        <span class="date">{{ comment.submission_time }}</span>
                        <a class="title" href="/user/{{ comment.id }}">{{ comment.email }}</a>
                        <div class="operations">
                            <a href="/comment/{{ comment.id }}/edit"><i class="fa fa-pencil"></i></a>
                            <a href="/comment/{{ comment.id }}/delete"><i class="fa fa-trash"></i></a>
                        </div>
                    </label>
                    <div class="message">{{ comment.message }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}