{% extends "template_client.html" %}
{% block title %}Home{% endblock %}
{% block headerbutton %}
    <a href="/add-question">New question</a>
    <a href="/users">Users list</a>
{% endblock %}
{% block wrappercontent %}
<div class="question-list">
{% for question in questions %}
    <div class="question">
        <div class="votes">
            {% if user != False %}<a class="votes up" href="/question/{{ question.id }}/vote_up"><i class="fa fa-arrow-up"></i></a>{% endif %}
            <span class="count">{{ question.vote_number }}</span>
            {% if user != False %}<a class="votes down" href="/question/{{ question.id }}/vote_down"><i class="fa fa-arrow-down"></i></a>{% endif %}
        </div>
        <label class="name">
            <span class="id">{{ question.id }}</span>
            <span class="date">{{ question.submission_time }}</span>
            <a class="title" href="/question/{{ question.id }}">{{ question.title }}</a>
        </label>
        <div class="message">{{ question.message }}</div>
    </div>
{% endfor %}
</div>
{% endblock %}